.nav-item{
.nav-item {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background-color: var(--underline-color); 
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}
}

